<?xml version="1.0" encoding="utf-8"?>
<!--
     Merged into the common manifest for the `full` flavor only. The foss flavor
     ships no Google Play Services and has no OptionsProvider to register.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <meta-data
            android:name="com.google.android.gms.cast.framework.OPTIONS_PROVIDER_CLASS_NAME"
            android:value="com.cocode.babakplayer.cast.CastOptionsProvider" />
    </application>

</manifest>
